.base {
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: #18191C;

  &:visited {
    color: #18191C;
  }

  &.active {
    background: #F39C12;
    color: #fff;

    &:visited {
      color: #ffffff;
    }
  }
}


